In [22]:
import pandas as pd
import numpy as np

In [9]:
log = pd.read_csv('../log/Jun_11_control/koopman_results_log.csv')
log

,env_name,state_dim,u_dim,train_samples,val_samples,test_samples,Ksteps,train_steps,batch_size,initial_lr,...,seed,normalize,best_val_Kloss,convergence_val_Kloss,test_Kloss,test_CovLoss,test_ControlLoss,model_path,num_params,encoder_num_params
0,DampingPendulum,2,1.0,60000,20000,20000,15,60000,64,0.001,...,2,False,0.022785,0.022852,0.022444,1.249301e-03,21.350718,../log/Jun_11_control/best_models/20250611_114...,135218,135176
1,DampingPendulum,2,1.0,60000,20000,20000,15,60000,64,0.001,...,2,False,0.019849,0.019867,0.019661,1.406159e+03,21.348938,../log/Jun_11_control/best_models/20250611_114...,135218,135176
2,DampingPendulum,2,1.0,60000,20000,20000,15,60000,64,0.001,...,2,False,0.017231,0.017295,0.017119,1.966470e-04,281.990387,../log/Jun_11_control/best_models/20250611_115...,135218,135176
3,DampingPendulum,2,1.0,60000,20000,20000,15,60000,64,0.001,...,2,False,0.019093,0.019113,0.018845,1.094777e+04,2209.692383,../log/Jun_11_control/best_models/20250611_115...,135218,135176
4,DampingPendulum,2,1.0,60000,20000,20000,15,60000,64,0.001,...,2,False,0.017767,0.017814,0.017520,7.124370e-02,21.349010,../log/Jun_11_control/best_models/20250611_115...,141686,141344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,Go2,37,12.0,60000,20000,20000,15,20000,64,0.001,...,1,False,1.780345,1.803432,1.777621,5.915973e+06,1.695391,../log/Jun_11_control/best_models/20250613_154...,306197,216832
496,Go2,37,12.0,60000,20000,20000,15,20000,64,0.001,...,1,False,1.737213,1.756799,1.734632,8.516307e+03,0.142669,../log/Jun_11_control/best_models/20250613_155...,1815829,677376
497,Go2,37,12.0,60000,20000,20000,15,20000,64,0.001,...,1,False,1.741407,1.769097,1.739518,7.990446e+06,0.143270,../log/Jun_11_control/best_models/20250613_155...,1815829,677376
498,Go2,37,12.0,60000,20000,20000,15,20000,64,0.001,...,1,False,1.743658,1.769704,1.740998,7.830708e+03,0.422862,../log/Jun_11_control/best_models/20250613_155...,1815829,677376
499,Go2,37,12.0,60000,20000,20000,15,20000,64,0.001,...,1,False,1.758058,1.786944,1.755590,1.035737e+07,0.550180,../log/Jun_11_control/best_models/20250613_155...,1815829,677376

In [32]:
franka_results = pd.read_csv('../log/Jun_11_control/franka_control_results.csv')
franka_results['error_eight'] = franka_results['error_eight'].apply(lambda x: float(x[0][0]) if isinstance(x, list) else float(eval(x)[0][0]))
franka_results['error_star'] = franka_results['error_star'].apply(lambda x: float(x[0][0]) if isinstance(x, list) else float(eval(x)[0][0]))
franka_results

,env_name,seed,encode_dim,use_control_loss,use_covariance_loss,max_eig,error_eight,error_star
0,Franka,2,4,True,True,(1.0008271932601929+0j),1.593347,1.934650
1,Franka,2,4,True,False,(1.0001089572906494+0j),1.437474,1.683375
2,Franka,2,4,False,True,(1.0037086009979248+0j),10.835113,10.461870
3,Franka,2,4,False,False,(1.0022194385528564+0j),8.994581,8.297446
4,Franka,2,16,True,True,(1.0005642175674438+0j),1.994932,2.169587
...,...,...,...,...,...,...,...,...
95,Franka,1,256,False,False,(0.9970243573188782+0j),2.546215,2.891778
96,Franka,1,1024,True,True,(0.999992311000824+0j),3.275043,3.700608
97,Franka,1,1024,True,False,(1.0000087022781372+0j),2.046067,2.236299
98,Franka,1,1024,False,True,(0.9999973773956299+0j),1.956550,2.452912
99,Franka,1,1024,False,False,(1.000009298324585+0j),1.969088,2.304377

In [ ]:
grouped = franka_results.groupby(['env_name', 'encode_dim', 'use_control_loss', 'use_covariance_loss']).agg({
    'error_eight': 'mean',
    'error_eight': 'std',
    'error_star': 'mean',
    'error_star': 'std'
}).reset_index()
grouped.to_csv('../log/Jun_11_control/control_results/Franka.csv', index=False)

In [26]:
pendulum_results = pd.read_csv('../log/Jun_11_control/pendulum_control_results.csv')
pendulum_results

,env_name,encode_dim,use_control_loss,use_covariance_loss,seed,tracking_error,control_cost
0,DampingPendulum,4,True,True,2,0.757298,9.763581e+03
1,DampingPendulum,4,True,False,2,0.731018,7.551425e+03
2,DampingPendulum,4,False,True,2,1.244855,6.278292e+03
3,DampingPendulum,4,False,False,2,1.125181,5.298403e+03
4,DampingPendulum,16,True,True,2,1.248627,6.311708e+03
...,...,...,...,...,...,...,...
195,DoublePendulum,256,False,False,1,4.295919,1.977226e+04
196,DoublePendulum,1024,True,True,1,inf,inf
197,DoublePendulum,1024,True,False,1,4.518627,3.056818e+04
198,DoublePendulum,1024,False,True,1,inf,inf
199,DoublePendulum,1024,False,False,1,inf,inf

In [ ]:
temp = pendulum_results[np.isfinite(pendulum_results['control_cost'])]
grouped = temp.groupby(['env_name', 'encode_dim', 'use_control_loss', 'use_covariance_loss']).agg({
    'tracking_error': 'mean',
    'tracking_error': 'std',
    'control_cost': 'mean',
    'control_cost': 'std',
    'seed': 'count'
}).reset_index()
grouped[grouped['env_name'] == 'DampingPendulum'].to_csv('../log/Jun_11_control/control_results/DampingPendulum.csv', index=False)
grouped[grouped['env_name'] == 'DoublePendulum'].to_csv('../log/Jun_11_control/control_results/DoublePendulum.csv', index=False)

In [14]:
isaacsim_results = pd.read_csv('../log/Jun_11_control/isaac_control_results.csv')
isaacsim_results = isaacsim_results.merge(log[['env_name', 'model_path', 'encode_dim', 'use_control_loss', 'use_covariance_loss', 'seed']], on='model_path', how='left').drop(columns=['model_path', 'robot'])[['env_name','seed', 'encode_dim', 'use_control_loss', 'use_covariance_loss', 'mean_JrPE', 'time_s']].sort_values(by=['env_name', 'use_control_loss', 'use_covariance_loss'], ascending=[True, True, True])
isaacsim_results

,env_name,seed,encode_dim,use_control_loss,use_covariance_loss,mean_JrPE,time_s
3,G1,2,4,False,False,0.302010,25.823783
7,G1,2,16,False,False,0.317216,28.128466
11,G1,2,64,False,False,0.337082,37.744239
15,G1,2,256,False,False,0.335556,130.623308
19,G1,2,1024,False,False,0.330661,1229.385425
...,...,...,...,...,...,...,...
180,Go2,1,4,True,True,0.630966,13.433103
184,Go2,1,16,True,True,0.488121,14.526771
188,Go2,1,64,True,True,0.635560,20.331016
192,Go2,1,256,True,True,0.740418,68.780854
196,Go2,1,1024,True,True,0.798937,932.036135

In [ ]:
grouped = isaacsim_results.groupby(['env_name', 'encode_dim', 'use_control_loss', 'use_covariance_loss']).agg({
    'mean_JrPE': 'mean',
    'mean_JrPE': 'std',
    'time_s': 'mean',
    'time_s': 'std'
}).reset_index()
grouped[grouped['env_name'] == 'G1'].to_csv('../log/Jun_11_control/control_results/G1.csv', index=False)
grouped[grouped['env_name'] == 'Go2'].to_csv('../log/Jun_11_control/control_results/Go2.csv', index=False)